<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="databaseConnectionConfiguration" type="SqlPad.DatabaseConnectionConfigurationSection, SqlPad" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <clear/>
    <add name="Oracle 12c PDB EZ-Connect" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=hqc:1521/hq_pdb;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Oracle 12c PDB TNS" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Oracle 11g" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ11G2_TCP;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Test" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=HUSQVIK" />
  </connectionStrings>

  <databaseConnectionConfiguration>
    <infrastructureConfigurations>
      <infrastructure ConnectionStringName="Oracle 12c PDB EZ-Connect" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Oracle 12c PDB TNS" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Oracle 11g" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Test" InfrastructureFactory="SqlPad.Oracle.Test.OracleTestInfrastructureFactory, SqlPad.Oracle.Test" />
    </infrastructureConfigurations>
  </databaseConnectionConfiguration>
</configuration>
