<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="databaseConnectionConfiguration" type="SqlPad.DatabaseConnectionConfigurationSection, SqlPad" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <connectionStrings>
    <clear/>
    <add name="Oracle 12c PDB EZ-Connect" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=hqc:1521/hq_pdb;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Oracle 12c PDB TNS" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Oracle 12c PDB Admin" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=SYS;DBA PRIVILEGE=SYSDBA" />
    <add name="Oracle 12c PDB Unprivileged" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=UNPRIVILEGED" />
    <add name="Test" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;USER ID=HUSQVIK" />
    <add name="Invalid connection" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=10.10.10.10:1521/hq_pdb;PASSWORD=pwd;USER ID=anonymous" />
  </connectionStrings>

  <databaseConnectionConfiguration>
    <infrastructureConfigurations>
      <infrastructure ConnectionStringName="Oracle 12c PDB EZ-Connect" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Oracle 12c PDB TNS" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Oracle 12c PDB Admin" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" IsProduction="true" />
      <infrastructure ConnectionStringName="Oracle 12c PDB Unprivileged" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Test" InfrastructureFactory="SqlPad.Oracle.Test.OracleTestInfrastructureFactory, SqlPad.Oracle.Test" IsProduction="true" />
      <infrastructure ConnectionStringName="Invalid connection" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
    </infrastructureConfigurations>
  </databaseConnectionConfiguration>
</configuration>
