<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="databaseConnectionConfiguration" type="SqlPad.DatabaseConnectionConfigurationSection, SqlPad" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <connectionStrings>
    <clear/>
    <add name="Default" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=HUSQVIK" />
    <add name="Oracle11" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=HUSQVIK" />
    <add name="Test" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=HQ_PDB_TCP;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=HUSQVIK" />
  </connectionStrings>

  <databaseConnectionConfiguration>
    <infrastructureConfigurations>
      <infrastructure ConnectionStringName="Default" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Oracle11" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
      <infrastructure ConnectionStringName="Test" InfrastructureFactory="SqlPad.Oracle.Test.OracleTestInfrastructureFactory, SqlPad.Oracle.Test" />
    </infrastructureConfigurations>
  </databaseConnectionConfiguration>
</configuration>
