<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="databaseConnectionConfiguration" type="SqlPad.DatabaseConnectionConfigurationSection, SqlPad" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>

  <connectionStrings>
    <clear/>
    <add name="Real database test connection" providerName="Oracle.DataAccess.Client" connectionString="DATA SOURCE=hqc:1521/hq_pdb;PASSWORD=oracle;USER ID=HUSQVIK" />
  </connectionStrings>

  <databaseConnectionConfiguration>
    <infrastructureConfigurations>
      <infrastructure ConnectionStringName="Real database test connection" InfrastructureFactory="SqlPad.Oracle.OracleInfrastructureFactory, SqlPad.Oracle" />
    </infrastructureConfigurations>
  </databaseConnectionConfiguration>
</configuration>
